body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #273741;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
}

header p {
  margin: 5px 0;
}

#profile-pic {
  overflow: hidden;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

#profile-pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

section {
  padding: 40px 0;
  text-align: center;
}

section h2 {
  color: #333;
}

section p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}

section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section ul li {
  display: inline-block;
  margin: 0 10px;
  background-color: #283b48;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}