body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('asd.jpg'); /* Replace 'background.jpg' with your image file */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 36px;
}

#task-form {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

#task-form input,
#task-form select,
#task-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#task-list {
  list-style: none;
  padding: 0;
}

#task-list li {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  display: block;
  text-align: center;
  color: #3b3333;
  text-decoration: none;
  margin-top: 10px;
}
.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

.delete {
  color: #ff3333;
  cursor: pointer;
}

.personal {
  background-color: #ffd699;
}

.work {
  background-color: #b3e0ff;
}

.study {
  background-color: #c2f0c2;
}
